* {
	font-family: Times New Roman;
}

header {
	font-size: 48px;
	text-align: center;
}

h1 {
	background-color: gray;
	font-size: 36%;
	margin-bottom: 60px;
	text-align: center;
}

p, body, article {
	color: black;
	font-size: 20px;
	width: 200px;
}

#box {
	background-color: lightgray;
	padding: 10px 30px 10px 30px;
	border: 10px solid black;
	width: 300px;
	margin: 40px;
	margin-top: 20px;
	}

#content {
	background-color: lightgray;
}


