* {
	font-family: Times New Roman;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	font-size: 175%;
	text-align: center;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

body {
	width: 100%;
}

section{
	font-size: 125%;
	position: relative;
	border: 1px solid black;
	float: right;
	top: -1px;
	right: -1px;
}

h1 {
	background-color: #efdddc;
	font-size: 36px;
	margin-bottom: 50px;
	text-align: center;
}

p, article {
	color: black;
	font-size: 20px;
}

aside {
	clear: both;
	margin: 1.33%;
}

#box1 {
	background-color: #dedddc;
	border: 1px solid black;
	float: left;
	margin: 1.5%;
	overflow: hidden;
}

#box2 {
	background-color: #dedddc;
	border: 1px solid black;
	float: left;
	margin: 1.5%;
	overflow: hidden;
}

#box3 {
	background-color: #dedddc;
	border: 1px solid black;
	float: left;
	margin: 1.5%;
	overflow: hidden;
}

#content {
	text-align: left;
	overflow: auto;
}

#s1 {
	text-align: center;
	background-color: #b0aea9;
	padding: 10px 10px 10px 10px;
}

#s2 {
	text-align: center;
	background-color: #cfccc4;
	padding: 10px 10px 10px 10px;
}

#s3 {
	text-align: center;
	background-color: #f0eee9;
	padding: 10px 10px 10px 10px;
}

/*Desktop style*/
@media (min-width: 992px) {
	#box1 {
		width: 30.33%;
		}

	#box2 {
		width: 30.33%;
	}

	#box3 {
		width: 30.33%;
	}

	#content {
		padding: 10px 10px 10px 10px;
		width: 90%;
		margin: 20px;
		margin-top: 20px;
	}
}

/*Tablet style*/
@media (min-width: 768px) and (max-width: 991px) {
	#box1 {
		padding: 10px 30px 10px 30px;
		width: 47%;
		margin-bottom: 1.5%;
		}

	#box2 {
		padding: 10px 30px 10px 30px;
		width: 47%;
		margin-bottom: 1.5%;
	}

	#box3 {
		padding: 10px 30px 10px 30px;
		width: 97%;
		margin-bottom: 1.5%;
	}

	#content {
		padding: 10px 10px 10px 10px;
		width: 90%;
		margin: 20px;
		margin-top: 20px;
	}
}

/*Mobile style*/
@media (max-width: 767px) {
	#box1 {
		padding: 10px 30px 10px 30px;
		width: 90%;
		margin-inline: 5%;
		margin-bottom: 1.5%
		}

	#box2 {
		padding: 10px 30px 10px 30px;
		width: 90%;
		margin-inline: 5%;
		margin-bottom: 1.5%
	}

	#box3 {
		padding: 10px 30px 10px 30px;
		width: 90%;
		margin-inline: 5%;
		margin-bottom: 1.5%
	}

	#content {
		padding: 10px 10px 10px 10px;
		width: 90%;
		margin: 20px;
		margin-top: 20px;
	}
}