body {
	font-size: 16px
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}

#logo-img {
	background: url('../images/restaurant-logo_sm.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

/** HEADER **/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name*/
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
}
.navbar-brand a, a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: 0.7em;
	margin-top: 15px;
}
.navbar-brand p span {
	vertical-align: middle;
}

#box1 {
	background-color: #dedddc;
	border: 1px solid black;
	float: left;
	overflow: hidden;
}

#box2 {
	background-color: #dedddc;
	border: 1px solid black;
	float: left;
	overflow: hidden;
}

#box3 {
	background-color: #dedddc;
	border: 1px solid black;
	float: left;
	overflow: hidden;
}

#content {
	text-align: left;
	margin-right: ;
	overflow: auto;
}

#s1 {
	text-align: center;
	background-color: #b0aea9;
	padding: 10px 10px 10px 10px;
}

#s2 {
	text-align: center;
	background-color: #cfccc4;
	padding: 10px 10px 10px 10px;
}

#s3 {
	text-align: center;
	background-color: #f0eee9;
	padding: 10px 10px 10px 10px;
}

/*Desktop style*/
@media (min-width: 992px) {
	#content {
		padding: 10px 10px 10px 10px;
		width: 100%;
		margin: 20px;
		margin-top: 20px;
	}
}

/*Tablet style*/
@media (min-width: 768px) and (max-width: 991px) {
	#box1 {
		padding: 10px 30px 10px 30px;
		width: 47%;
		margin-bottom: 1.5%;
		}

	#box2 {
		padding: 10px 30px 10px 30px;
		width: 47%;
		margin-bottom: 1.5%;
	}

	#box3 {
		padding: 10px 30px 10px 30px;
		width: 97%;
		margin-bottom: 1.5%;
	}

	#content {
		padding: 10px 10px 10px 10px;
		width: 90%;
		margin: 20px;
		margin-top: 20px;
	}
}

/*Mobile style*/
@media (max-width: 767px) {
	#box1 {
		padding: 10px 30px 10px 30px;
		width: 90%;
		margin-inline: 5%;
		margin-bottom: 1.5%
		}

	#box2 {
		padding: 10px 30px 10px 30px;
		width: 90%;
		margin-inline: 5%;
		margin-bottom: 1.5%
	}

	#box3 {
		padding: 10px 30px 10px 30px;
		width: 90%;
		margin-inline: 5%;
		margin-bottom: 1.5%
	}

	#content {
		padding: 10px 10px 10px 10px;
		width: 90%;
		margin: 20px;
		margin-top: 20px;
	}
}